.hr1{
	border-radius:5px;
	background-color:#696969;
	height:2px;
	border-bottom-style:groove;
}
.nep{
	margin-left:15;
	margin-top:10;
	margin-right: 15;
}
.inp1{
	margin-top:10;
	height:
}
.custom{
	margin-top:10;
	width: 500;
	height:
	
}
.btn-outline-primary {
    margin-top: 15;
    width: 200;
}
.butdob{
	margin-left:50;
}
.hrvib{
	border-radius:3px;
	background-color:#696969;
	height:2px;
	border-bottom-style:groove;
}

.cont {
	width:500;
	overflow:scroll;
}
.modal-header{
	background: rgb(34,195,172);
background: linear-gradient(0deg, rgba(34,195,172,1) 22%, rgba(19,198,28,1) 89%);
}
.modal-body{
background: rgb(217,161,76);
background: linear-gradient(0deg, rgba(217,161,76,0.16010154061624648) 0%, rgba(200,168,79,0.9500175070028011) 100%);
}
.modal-footer{
	background: rgb(34,195,172);
background: linear-gradient(0deg, rgba(34,195,172,1) 22%, rgba(19,198,28,1) 89%);
}