.hr1{
	border-radius:5px;
	background-color:#696969;
	height:2px;
	border-bottom-style:groove;
}
.nep{
	margin-left:15;
	margin-top:10;
	margin-right: 15;
}
.inp1{
	margin-top:10;
	height:
}
.custom{
	margin-top:10;
	width: 500;
	height:
	
}
.btn-outline-primary {
    margin-top: 15;
    width: 200;
}
.butdob{
	margin-left:50;
}
.hrvib{
	border-radius:3px;
	background-color:#696969;
	height:2px;
	border-bottom-style:groove;
}

.cont {
	width:500;
	overflow:scroll;
}